

/* TODO */
.TODO{
    background-color: #fbefca;
} 



/* HEADER QUE ABARCA LOGO - MENU - BUSCADOR DE RECETAS */
.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-img-paraMENU.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* LOGO */

.logo {
    width: 200px;
    height: 200px;
    border-radius: 130px;
    margin: 20px 0px 20px 0px 
}




/* MENU */
.menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 0px;
    
}

.menu li{
    display: flex;
}

.menu li a{
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: rgb(218, 199, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    font-weight: bold;
}


/* BUSCADOR DE RECETAS */

button{
    color: white;
}

.buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 40px;
}

.buscador div{
    display: flex;
}

.formu {
    width: 600px;
    height: 40px;
}


.lupa{
    width: 35px;
    height: 35px;
    
}


/* RECETAS */

.TODOfotorecetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* detalles de las cajas de recetas */
.masINFO {
    text-decoration: none;
}

/* Botón CARGAR MÁS */

.cargar{
    height: 40px;
    width: 150px;
    margin: 40px;
    color: black;
    background-color: #fbdacb;
    font-size: 20px;
}   