
                    /* BODY */

body {
    background-image: url(../img/backgroundIMAGEb.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    
}

                    /* TODO */
.TODO{
    background-image: url(../img/backgroundIMAGEb.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
} 

        /* HEADER QUE ABARCA:LOGO - MENU - BUSCADOR DE RECETAS */

.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-img-paraMENU.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* LOGO */

.logo {
    width: 200px;
    height: 200px;
    border-radius: 130px;
    margin: 20px 0px 20px 0px 
}


/* MENU */
.menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 0px;
    
}

.menu li{
    display: flex;
}

.menu li a{
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: rgb(218, 199, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    font-weight: bold;
}

/* TÍTULO PRINCIPAL */

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 40px 0px 15px 0px;
}


                /* FOOTER - INTEGRANTES DEL GRUPO */

footer {
    display: flex;
    justify-content: center;
}

footer p{
    background-color: #ff6767;
    padding: 15px 200px 15px 200px;
    border-radius: 50px 50px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}


                /* BUSCADOR DE RECETAS */

button{
    color: white;
}

.buscador {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 40px;
}

.buscador div{
    display: flex;
}

.formu {
    width: 600px;
    height: 40px;
}

.lupa{
    width: 35px;
    height: 35px;
    
}

                    /* RECETAS */

.TODOfotorecetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.fotorecetas {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin: 0px;
}


.article {
    border: 2px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 30px 30px 10px;
    border-radius: 20px;
    background-color: rgb(251, 251, 237);
    padding: 5px
}


.titulo {
    color: black;
    font-size: 22px;
    margin: 20px 0px 5px;
    font-weight: bold;
}

.article img {
    width: 250px;
    border: 1px solid black;
    height: 250px;
    margin: 20px 40px;
    border-radius: 20px;
    filter: drop-shadow(rgb(0, 0, 0) 2px 2px 4px)
}

.nivel {
    font-weight: bold;
    color: rgb(255, 28, 28);
    padding: 6px 12px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.masINFO {
    text-decoration: none;
    border: 2px solid #1c3dce;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #d9dfff;
}

.masINFO p{
    margin: 0px;
    color: black;
}



/* Botón CARGAR MÁS */

.cargar{
    height: 40px;
    width: 150px;
    margin: 40px;
    color: black;
    background-color: #fbdacb;
    font-size: 20px;
}   


                    /* REGISTER - HTML */

.mucho{
    display: flex;
    justify-content: space-around;
}

.registro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 400px;
    width: 600px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgb(251, 251, 237);
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    text-align: start;
}

#emailID {
    width: 400px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
#contraseñaID{
    width: 400px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.link {
    display: block;
    margin-top: 10px;
    color: #e74340;
    text-decoration: none;
}

.boton{
    background-color: #e74340;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}


                    /* LOGIN - HTML*/ 

.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
}

.log {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 330px;
    width: 600px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: rgb(251, 251, 237);
}


                    /* CATEGORY - HTML */

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.category{
    font-size: 30px;
    margin: 50px 35px 0px 35px;
    display: flex;
    background-color: #fbfbed;
    width: 220px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 224, 112);
    filter: drop-shadow(2px 2px 4px rgb(179, 158, 81));
}

.category a{
    text-decoration: none;
    color: black;
}




                /* RESPONSIVE - CELULAR */

@media(max-width: 391px){
.header{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background-img-paraMENU.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
.menu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0px;
}
.logo{
        width: 180px;
        height: 180px;
        border-radius: 130px;
        margin: 20px 0px 20px 0px;
}
#emailID{
    width: 83%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
#contraseñaID{
    width: 83%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.category {
    font-size: 20px;
    margin: 50px 35px 0px 35px;
    display: flex;
    background-color: #fbfbed;
    width: 110px;
    height: 80px;
    border: 2px solid rgb(255, 224, 112);
    filter: drop-shadow(2px 2px 4px rgb(179, 158, 81));
    align-items: center;
    justify-content: center
}
}
